*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}
:root{
    --colorVerdeOscuro: #274215;
    --colorVerde: #85bb4d;
    --colorNaranja: #f8931f;
    --colorNaranjaOscuro: #dd7236;

    --tamañoTexto: 15px;
    --tamañoParrafo: 30px;
}