.seccion_estadistica{
    width: 100%;
    height: auto;
    margin: 65rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.plato_img{
    width: 34.7rem;
    height: auto;
    margin: 4.3rem 0 0 0;
}
.plato_img_2{
    display: none;
}
.porcentaje_1{
    top: 0;
    left: 173px;
}
.porcentaje_2{
    top: 142px;
    left: 20px;
}
.porcentaje_3{
    top: 296px;
    left: 169px;
}
.texto_plato{
    font-size: 15px;
    width: 279px;
    height: 162px;
    margin: 6.1rem 0 0 0;
    text-align: justify;
}
.estadistica{
    width: 27.9rem;
    height: auto;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    margin: 4.5rem 0 0 0;
    padding: 6rem 0 4.7rem 0;
    position: relative;
}
.estadistica h2{
    font-size: 50px;
    color: var(--colorVerdeOscuro);
    font-weight: 700;
    font-family: 'Fredoka', sans-serif;
    margin: 0 0 1.9rem 0;
}
.estadistica p{
    width: 100%;
    height: auto;
    font-size: var(--tamañoTexto);
    text-align: justify;
    margin: 0 0 1.4rem 0;
}
.texto_plato{
    width: 27.9rem;
    height: auto;
    text-align: justify;
    font-size: 1.5rem;
    margin: 3.4rem 0 0 0;
}
.grafico_pastel{
    position: absolute;
    right: 11.2rem;
}
.porcentajes_estadistica{
    margin: 6rem 0 0 17rem;
    width: 13.7rem;
    height: auto;
}
.caja_1_estadistica{
    display: flex;
}
.caja_1_estadistica p{
    width: 11rem;
    text-align: center;
    color: var(--colorVerdeOscuro);
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    font-size: var(--tamañoTexto);
    font-weight: 700;
}
.circulo_naranja_estadistica{
    width: 2.3rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: var(--colorNaranja);
}
.circulo_verde_estadistica{
    width: 2.3rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: var(--colorVerde);
    margin: 0 1rem 2.1rem 0;
}
.circulo_rojo_estadistica{
    width: 2.3rem;
    height: 2.4rem;
    border-radius: 100%;
    background-color: var(--colorNaranjaOscuro);
    margin-right: 0.7rem;
}
.seccion_objetos_estadistica{
    width: 100%;
    height: 19.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2rem 0 0 0;
}
.seccion_objetos_estadistica div{
    width: 7.9rem;
    height: 8.5rem;
    display: flex;
    flex-direction: column;
}
.seccion_objetos_estadistica p{
    text-align: center;
    font-weight: 400;
}
@media screen and (min-width: 1366px) {
    .seccion_estadistica{
        width: 100%;
        margin: 35rem 0 0 0;
    }
    .estadistica{
        width: 122rem;
        height: 129.8rem;
        margin: 8.2rem 0 0 0;
        border-top: 2px solid #EEEEEE;
        border-bottom: 2px solid #EEEEEE;
        padding: 14.3rem 0 12.7rem 0;
        position: relative;
    }
    .estadistica h2{
        font-size: 10rem;
        margin: 0 0 4.5rem 0;
    }
    .estadistica p{
        font-size: 2.5rem;
        width: auto;
        margin: 0 0 5.8rem 0;
        height: auto;
        position: absolute;
    }
    .texto_estadistica_1{
        top: 13rem;
        left: 69.9rem;
    }
    .texto_estadistica_2{
        top: 24.5rem;
        left: 69.9rem;
    }
    .grafico_pastel{
        width: 59.3rem;
        height: auto;
        left: 0;
    }
    .porcentajes_estadistica{
        width: 119.3rem;
        display: flex;
        margin: 0;
        flex-direction: row;
        position: absolute;
        top: 94.7rem;
    }
    .caja_1_estadistica p{
        width: 21.9rem;
        font-size: 3rem;
        left: 15rem;
        margin: 0;
    }
    .circulo_naranja_estadistica{
        width: 11.8rem;
        height: 11.6rem;
    }
    .circulo_verde_estadistica{
        width: 11.8rem;
        height: 11.6rem;
    }
    .circulo_rojo_estadistica{
        width: 11.8rem;
        height: 11.6rem;
    }
    .caja_1_estadistica{
        width: 62.3rem;
        height: 11.6rem;
        position: relative;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 6.2rem 0;
    }
    .seccion_objetos_estadistica{
        width: 57.6rem;
        height: 44.4rem;
        margin: 10.5rem 0 0 65rem;
    }
    .seccion_objetos_estadistica div{
        width: 17.2rem;
        height: auto;
    }
    .plato_img_2{
        display: flex;
        width: 65.7rem;
        position: absolute;
        top: 30.7rem;
        left: 5.5rem;
    }
    .plato_img{
        display: none;
    }
    .texto_plato{
        width: 111.1rem;
        font-size: 2.5rem;
        margin: 5rem 0 5rem 0;
    }
}