#caja_proteina{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}
.seccion_1{
    width: 31.7rem;
    margin: 60rem 0 0 0;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid #EEEEEE;
}
.personaje_naranja_2{
    display: none;
}
.titulo_proteinas{
    width: 37.5rem;
    height: auto;
    position: absolute;
    bottom: -140px;
    left: 0;
}
.contenedor_proteina{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.personaje_naranja{
    width: 11.8rem;
    height: 10.3rem;
}
.contenedor_video{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.caja_video{
    width: 31.8rem;
    height: 27.8rem;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.9rem 2.1rem 2rem 2rem;
}
.caja_video iframe{
    width: 27.7rem;
    height: 16.6rem;
    border-radius: 10px;
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.25);
}
.caja_video div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 2.7rem 0 0 0;
}
.caja_video p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
    color: #274215;
}
.caja_video h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #DD7236;
}
.caja_texto_proteina{
    width: 100%;
    height: 35.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.caja_texto_proteina p{
    font-weight: 400;
    font-size: 2.5rem;
    text-align: justify;
    width: 29.6rem;
    height: auto;
    font-family: 'Montserrat';
}
.decoracion_texto_1, .decoracion_texto_2{
    width: 5.5rem;
    height: 6.5rem;
    position: absolute;
}
.decoracion_texto_1{
    top: 4rem;
    left: -3.2rem;
}
.decoracion_texto_2{
    bottom: 3rem;
    right: 5rem;
}
.seccion_2{
    width: 37.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.9rem 0 0 0;
}
.titulos_proteina{
    width: 100%;
    height: 20.4rem;
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    position: relative;
}
.titulos_proteina h2{
    font-size: 5rem;
    font-family: 'Fredoka';
    position: absolute;
}
.titulo_01{
    color: var(--colorVerdeOscuro);
    margin: 0 0 0 3.5rem;
}
.titulo_02{
    color: var(--colorNaranja);
    margin: 4.5rem 0 0 9rem;
}
.titulo_03{
    color: var(--colorVerdeOscuro);
    margin: 9rem 0 0 6rem;
}
.titulo_04{
    color: var(--colorNaranjaOscuro);
    margin: 13.5rem 0 0 8rem;
}
#contenedor_alimentos{
    width: 31.8rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2.1rem 0 0 0;
    padding-bottom: 2.5rem;
    border-bottom: 2px solid #EEEEEE;
}
#contenedor_alimentos div{
    width: 14.9rem;
    height: 13.3rem;
    margin: 0 0 3.3rem 0;
    border-radius: 1.2rem;
    color: white;
    font-family: 'Fredoka';
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: var(--colorVerde);
}
#contenedor_alimentos div p{
    position: absolute;
    top: 1rem;
}
#contenedor_alimentos div img{
    width: 7rem;
    height: 7rem;
    position: absolute;
    bottom: 0;
}
.imagen{
    width: 35rem;
    height: auto;
}
.titulo_propiedades{
    width: 37.5rem;
}
.seccion_3{
    width: 37.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5.8rem;
}
.contenedor_info{
    width: 32rem;
    height: 50rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
#info_alimentos_contenedor{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 5rem;
}
.nombre_fruta_info{
    font-family: 'Fredoka';
    font-size: 3rem;
    color: var(--colorVerdeOscuro);
    position: absolute;
    top: 0;
    right: 0;
}
.info_cal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3rem;
    margin: 1rem 0 0 0;
    font-weight: 700;
    position: absolute;
    top: 4rem;
}
.kcal, .cal{
    padding: 3px 14px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}
.kcal{
    background-color: var(--colorVerde);
}
.cal{
    background-color: var(--colorNaranja);
    margin: 0 0 0 2rem;
}
.imagen_fruta_info{
    width: 13rem;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.imagen_estadistica_info{
    width: 31.7rem;
    height: auto;
    position: absolute;
    top: 8.6rem;
}
.porcentaje_info{
    width: 31.9rem;
    height: auto;
    position: absolute;
    top: 31rem;
}
.titulo_recordatorio{
    width: 37.5rem;
    height: auto;
    margin-top: 7rem;
}
.recordatorio_movil{
    margin-top: 5rem;
    margin-bottom: 5rem;
}
.recordatorio_compu{
    display: none;
}
@media screen and (min-width: 1366px){
    .titulo_proteinas{
        width: 133.6rem;
        margin-top: 20rem;
        bottom: -50rem;
    }
    .seccion_1{
        width: 122.8rem;
        height: auto;
        align-items: center;
        display: flex;
        flex-direction: row;
        padding-bottom: 13rem;
        margin: 90rem 0 0 0;
    }
    .personaje_naranja{
        display: none;
    }
    .personaje_naranja_2{
        display: flex;
        width: 27.2rem;
        height: auto;
        margin: 0 0 2rem 0;
    }
    .caja_video{
        width: 53.4rem;
        height: 41.7rem;
        padding: 8.7rem;
    }
    .caja_video iframe{
        width: 42.9rem;
        height: auto;
        margin: 0 0 2.6rem 0;
    }
    .caja_video p{
        font-size: 2rem;
    }
    .caja_video h2{
        font-size: 2rem;
    }
    .caja_texto_proteina{
        width: 97rem;
        height: 28.4rem;
        display: flex;
        flex-direction: column;
    }
    .caja_texto_proteina p{
        width: 60.5rem;
        height: auto;
        font-size: 2.5rem;
    }
    .decoracion_texto_1{
        width: 7.3rem;
        height: auto;
        left: 5rem;
        top: 0rem;
    }
    .decoracion_texto_2{
        width: 7.3rem;
        height: auto;
        bottom: 8rem;
        right: 4.5rem;
    }
    .titulos_proteina{
        width: 72.4rem;
        height: 30.2rem;
        position: absolute;
        margin: 15rem 0 0 0;
        right: 3.6rem;
    }
    .titulos_proteina h2{
        font-size: 10rem;
        margin: 0;
    }
    .titulo_01{
        top: 0;
        left: 18rem;
    }
    .titulo_02{
        top: 10.5rem;
        left: 0;
    }
    .titulo_03{
        top: 10rem;
        right: 0;
    }
    .titulo_04{
        top: 20.5rem;
        right: 5rem;
    }
    .imagen{
        width: 50.8rem;
        height: auto;
        margin-top: 10rem;
        margin-bottom: 6.9rem;
        position: absolute;
        left: 10.8rem;
    }
    .seccion_2{
        width: 100%;
    }
    #contenedor_alimentos{
        width: 100%;
        height: auto;
        margin-top: 70rem;
    }
    #contenedor_alimentos div{
        width: 22.5rem;
        height: 26.4rem;
        margin: 0 3rem 6.9rem 3rem;
    }
    #contenedor_alimentos div p{
        font-size: 4rem;
        top: 3rem;
    }
    #contenedor_alimentos div img{
        width: 20rem;
        height: auto;
    }
    .titulo_propiedades{
        width: 136.6rem;
    }
    .seccion_3{
        width: 136.6rem;
        margin-top: 20rem;
    }
    .contenedor_info{
        width: 55.4rem;
        height: 62.3rem;
        border-radius: 0.5rem;
        box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
        padding: 2rem 4rem;
        margin: 7.5rem 0;
    }
    .imagen_fruta_info{
        width: 20rem;
        left: 4rem;
        top: 2rem;
    }
    .imagen_estadistica_info{
        width: 46.2rem;
        top: 16.7rem;
    }
    .porcentaje_info{
        width: 22.4rem;
        top: 50rem;
        left: 4.1rem;
    }
    .nombre_fruta_info{
        font-size: 5rem;
        top: 2rem;
        right: 4rem;
    }
    .info_cal{
        font-size: 2rem;
        top: 8rem;
        right: 4rem;
    }
    .titulo_recordatorio{
        width: 136.6rem;
        margin-top: 35rem;
    }
    .recordatorio_movil{
        display: none;
    }
    .recordatorio_compu{
        display: flex;
        margin: 15rem 0;
    }
}